<%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :new_profile_entry_image %>
    <%= f.file_field :new_profile_entry_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :alt_text %>
    <%= f.text_field :alt_text, size: 40, class: "form-control" %>
  </div>
