<% @page_title = "レビュー編集" %>
<div class="text-center mt-5 mb-3">
  <h1><%= @page_title %></h1>
</div>

<div class="row mt-3">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @entry, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: 'form-control', rows: 7 %>
      </div>

      <div class="form-group">
        <%= f.label :directedby %>
        <%= f.text_field :directedby, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :screenplay %>
        <%= f.text_field :screenplay, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :character %>
        <%= f.text_field :character, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :music %>
        <%= f.text_field :music, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :cast %>
        <%= f.text_area :cast, class: 'form-control', rows: 2 %>
      </div>

      <div class="form-group">
        <%= f.label :productioncom %>
        <%= f.text_field :productioncom, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :productiontime, for: "entry_productiontime_li" %>
        <%= f.date_select :productiontime, start_year: 1970, end_year: Time.current.year, discard_month:true, discard_day: true, class: 'form-control' %>
      </div>

      <%= f.submit '編  集', class: 'btn btn-primary btn-block mb-5' %>
    <% end %>
  </div>
</div>