<% if users.any? %>
  <div class="row">
    <% users.each do |user| %>
    <div class="col-sm-4 mb-4">
      <div class="card text-center">
        <div class="card-img-top">
          <figure class="image pt-3">
            <%= link_to user_path(user) do %>
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image.variant(combine_options:{gravity: :center, resize:"1000x1000^", crop:"1000x1000+0+0"}).processed, class: "profile_image" %>
              <% end %>
            <% end %>
          </figure>
        </div>
        <div class="card_body mb-3">
          <div><h3><%= link_to user.name, user_path(user) %></h3></div>
          <div>
            投稿数：<%= user.entries.count %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate users %>
<% end %>