<% @page_title = "マイページ" %>
<div class="text-center m-5">
  <h1><%= @page_title %></h1>
</div>

<section class="section">
  <div id="marginless" class="row">
    <div class="offset-sm-1 col-sm-2 text-center">
      <div>
        <figure>
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image.variant(combine_options:{gravity: :center, resize:"1000x1000^", crop:"1000x1000+0+0"}).processed, class: "profile_image" %>
          <% end %>
        </figure>
      </div>
    </div>
    <div class="col-sm-5 mb-3" id="target">
      <div class="row mb-3 ml-0">
        <div class="col-md-2 mr-4 p-0 h4"><%= @user.name %></div>
        <div class="col-md-4 h5 m-1">
          <% if @user.id == current_user.id %>
            <%= @user.email %>
          <% end %>
        </div>
      </div>
      <div><%= simple_format @user.profile %></div>
    </div>
    <div class="col-sm-4 text-left">
      <div id="target">
        <div  id="target1" class="d-flex flex-row mb-3">
          <% if @user.id == current_user.id %>
            <%= link_to '編 集', edit_user_path(@user), class: "btn btn-primary btn-sm mr-4" %>
            <%= link_to '削 除', user_path(@user), method: :delete, data: { confirm: "本当にユーザ登録を解除してもよろしいですか?" }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= render 'entries/entriesuser', entries: @entries %>
  </div>
</section>